<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body class="d-flex justify-content-center align-items-center p-2" style="width: 100vw; height: 100vh;">

<form th:action="@{/user/submit}" method="post"
      class="w-50 d-flex flex-column justify-content-evenly gap-5 p-4 border rounded-2 shadow-sm"
      style="background-color: rgb(219, 245, 219);">

    <h2 class="text-center">Inscription</h2>

    <div class="d-flex flex-column gap-2">
        <div class="row">
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="lastname">
                    <label for="lastname">Nom</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="firstname">
                    <label for="firstname">Prénom</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="phone">
                    <label for="phone">Téléphone</label>
                </div>
            </div>
        </div>

        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="email">
            <label for="email">Adresse mail</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
            <label for="password">Mot de passe</label>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-success" style="width: 33%;">Valider</button>
    </div>

    <div class="text-center">Vous possédez déjà un compte ? <a th:href="@{/user/login}">Connexion</a></div>

</form>
</body>

</html>