/*.background{*/
/*    background-color: burlywood;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    vertical-align: center;*/
/*}*/

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1{
    color: white;
    font-size: 30px;
    padding-top: 30px;
}

.btn-primary{
    font-size: 10px;
    width: 80px;
    height: 30px;
    background-color: darkgray;
    border-color: unset;
    margin-top: 20px;
}

.btn-primary:hover{
    background-color: chocolate;
    border-color: chocolate;
}

